<% include head %>
        <div class="main clearfix">
      <h3>Estoque</h3>
      <div class="estoque md-trigger" data-modal="modal-1">
        <div class="instituto">
          Hemosul
        </div>
        <div class="volume">
          <span>321 bolsas</span>
        </div>
      </div>
      <div class="estoque md-trigger" data-modal="modal-2">
        <div class="instituto">
          Santa Casa
        </div>
        <div class="volume">
          <span>519 bolsas</span>
        </div>
      </div>
      <div class="estoque">
        <div class="instituto md-trigger" data-modal="modal-3">
          HU
        </div>
        <div class="volume">
          <span>370 bolsas</span>
        </div>
      </div>
      <div class="estoque">
        <div class="instituto md-trigger" data-modal="modal-4">
          Rosa Pedrossian
        </div>
        <div class="volume">
          <span>428 bolsas</span>
        </div>
      </div>
    </div>

    <div class="md-modal md-effect-1" id="modal-1">
      <div class="md-content">
        <h3>Hemosul</h3>
        <div>
          <div class="volumes">
            <span class="tipo">A+</span>
            <span class="barra b-30"></span>
            <span class="tipo">30 de 130</span>
          </div>
          <div class="volumes">
            <span class="tipo">A-</span>
            <span class="barra b-50"></span>
            <span class="tipo">50 de 130</span>
          </div>
          <div class="volumes">
            <span class="tipo">B+</span>
            <span class="barra b-70"></span>
            <span class="tipo">70 de 130</span>
          </div>
          <div class="volumes">
            <span class="tipo">B-</span>
            <span class="barra b-30"></span>
            <span class="tipo">30 de 130</span>
          </div>
          <div class="volumes">
            <span class="tipo">O+</span>
            <span class="barra b-70"></span>
            <span class="tipo">70 de 130</span>
          </div>
          <div class="volumes">
            <span class="tipo">O-</span>
            <span class="barra b-30"></span>
            <span class="tipo">30 de 130</span>
          </div>
          <div class="volumes">
            <span class="tipo">AB+</span>
            <span class="barra b-70"></span>
            <span class="tipo">70 de 130</span>
          </div>
          <div class="volumes">
            <span class="tipo">AB-</span>
            <span class="barra b-50"></span>
            <span class="tipo">50 de 130</span>
          </div>
          <button class="md-close">Fechar</button>
        </div>
      </div>
    </div>

    <div class="md-modal md-effect-1" id="modal-2">
      <div class="md-content">
        <h3>Santa Casa</h3>
        <div>
          <div class="volumes">
            <span class="tipo">A+</span>
            <span class="barra b-30"></span>
            <span class="tipo">30 de 130</span>
          </div>
          <div class="volumes">
            <span class="tipo">A-</span>
            <span class="barra b-50"></span>
            <span class="tipo">50 de 130</span>
          </div>
          <div class="volumes">
            <span class="tipo">B+</span>
            <span class="barra b-70"></span>
            <span class="tipo">70 de 130</span>
          </div>
          <div class="volumes">
            <span class="tipo">B-</span>
            <span class="barra b-30"></span>
            <span class="tipo">30 de 130</span>
          </div>
          <div class="volumes">
            <span class="tipo">O+</span>
            <span class="barra b-70"></span>
            <span class="tipo">70 de 130</span>
          </div>
          <div class="volumes">
            <span class="tipo">O-</span>
            <span class="barra b-30"></span>
            <span class="tipo">30 de 130</span>
          </div>
          <div class="volumes">
            <span class="tipo">AB+</span>
            <span class="barra b-70"></span>
            <span class="tipo">70 de 130</span>
          </div>
          <div class="volumes">
            <span class="tipo">AB-</span>
            <span class="barra b-50"></span>
            <span class="tipo">50 de 130</span>
          </div>
          <button class="md-close">Fechar</button>
        </div>
      </div>
    </div>

    <div class="md-modal md-effect-1" id="modal-3">
      <div class="md-content">
        <h3>HU</h3>
        <div>
          <div class="volumes">
            <span class="tipo">A+</span>
            <span class="barra b-30"></span>
            <span class="tipo">30 de 130</span>
          </div>
          <div class="volumes">
            <span class="tipo">A-</span>
            <span class="barra b-50"></span>
            <span class="tipo">50 de 130</span>
          </div>
          <div class="volumes">
            <span class="tipo">B+</span>
            <span class="barra b-70"></span>
            <span class="tipo">70 de 130</span>
          </div>
          <div class="volumes">
            <span class="tipo">B-</span>
            <span class="barra b-30"></span>
            <span class="tipo">30 de 130</span>
          </div>
          <div class="volumes">
            <span class="tipo">O+</span>
            <span class="barra b-70"></span>
            <span class="tipo">70 de 130</span>
          </div>
          <div class="volumes">
            <span class="tipo">O-</span>
            <span class="barra b-30"></span>
            <span class="tipo">30 de 130</span>
          </div>
          <div class="volumes">
            <span class="tipo">AB+</span>
            <span class="barra b-70"></span>
            <span class="tipo">70 de 130</span>
          </div>
          <div class="volumes">
            <span class="tipo">AB-</span>
            <span class="barra b-50"></span>
            <span class="tipo">50 de 130</span>
          </div>
          <button class="md-close">Fechar</button>
        </div>
      </div>
    </div>

    <div class="md-modal md-effect-1" id="modal-4">
      <div class="md-content">
        <h3>Rosa Pedrossian</h3>
        <div>
          <div class="volumes">
            <span class="tipo">A+</span>
            <span class="barra b-30"></span>
            <span class="tipo">30 de 130</span>
          </div>
          <div class="volumes">
            <span class="tipo">A-</span>
            <span class="barra b-50"></span>
            <span class="tipo">50 de 130</span>
          </div>
          <div class="volumes">
            <span class="tipo">B+</span>
            <span class="barra b-70"></span>
            <span class="tipo">70 de 130</span>
          </div>
          <div class="volumes">
            <span class="tipo">B-</span>
            <span class="barra b-30"></span>
            <span class="tipo">30 de 130</span>
          </div>
          <div class="volumes">
            <span class="tipo">O+</span>
            <span class="barra b-70"></span>
            <span class="tipo">70 de 130</span>
          </div>
          <div class="volumes">
            <span class="tipo">O-</span>
            <span class="barra b-30"></span>
            <span class="tipo">30 de 130</span>
          </div>
          <div class="volumes">
            <span class="tipo">AB+</span>
            <span class="barra b-70"></span>
            <span class="tipo">70 de 130</span>
          </div>
          <div class="volumes">
            <span class="tipo">AB-</span>
            <span class="barra b-50"></span>
            <span class="tipo">50 de 130</span>
          </div>
          <button class="md-close">Fechar</button>
        </div>
      </div>
    </div>
<% include footer %>
