<% include head %>
			<div class="main clearfix">
			<h3>Ranking</h3>
			<div class="ranking">
				<div class="doador">
					<span class="foto">
						<img src="/images/foto.jpg"/>
					</span>
					<span>Glauber Laender</span>
					<div class="litros">
						<span>5.2 litros</span>
						<span class="sprite icon-drop"></span>
					</div>
				</div>

				<div class="doador">
					<span class="foto">
						<img src="/images/guilherme.jpg"/>
					</span>
					<span>Guilherme Barbosa</span>
					<div class="litros">
						<span>4.7 litros</span>
						<span class="sprite icon-drop"></span>
					</div>
				</div>

				<div class="doador">
					<span class="foto">
						<img src="/images/alisson.jpg"/>
					</span>
					<span>Alisson Pedrina</span>
					<div class="litros">
						<span>4.2 litros</span>
						<span class="sprite icon-drop"></span>
					</div>
				</div>

				<div class="doador">
					<span class="foto">
						<img src="/images/desiree.jpg"/>
					</span>
					<span>Desirre</span>
					<div class="litros">
						<span>4.1 litros</span>
						<span class="sprite icon-drop"></span>
					</div>
				</div>

				<div class="doador">
					<span class="foto">
						<img src="/images/weslley.jpg"/>
					</span>
					<span>Weslley Carvalho</span>
					<div class="litros">
						<span>3.8 litros</span>
						<span class="sprite icon-drop"></span>
					</div>
				</div>

				<div class="doador">
					<span class="foto">
						<img src="/images/bruno.jpg"/>
					</span>
					<span>Bruno Lima</span>
					<div class="litros">
						<span>3.5 litros</span>
						<span class="sprite icon-drop"></span>
					</div>
				</div>

			</div>
		</div>
<% include footer %>
