    <div class="md-modal md-effect-1" id="modal-mensagem">
      <div class="md-content">
        <h3>Recado para você</h3>
        <div>
          <p>
            Precisamos de doações do seu tipo sanguíneo para ajudar quem precisa.
            Vá ao Hemocentro e colabore com essa iniciativa.
            O hemosul está localizado na Avenida Fernando Corrêa da Costa, 1304 - Centro
          </p>
          <button style="width:1px hei" class="md-close">Ok, entendi.</button>
        </div>
      </div>
    </div>
    <div class="md-overlay"></div>
    <button id="mensagem" style="display: none" class="md-trigger" data-modal="modal-mensagem"></button>
    <script src="/js/comum.js"></script>
    <script src="/modal/js/classie.js"></script>
    <script src="/modal/js/modalEffects.js"></script>
    <script>
        var polyfilter_scriptpath = '/modal/js/';
    </script>
    <script src="/modal/js/cssParser.js"></script>
    <script src="/modal/js/css-filters-polyfill.js"></script>
  </body>
</html>
